[package]
name = "milagro-bls-binding"
version = "1.6.2"
edition = "2018"
authors = ["chihchengliang@gmail.com"]

[package.metadata.maturin]
classifier = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
]
maintainer = "Chih-Cheng Liang"
maintainer-email = "chihchengliang@gmail.com"
requires-python = ">=3.6"
project-url = { Source = "https://github.com/ChihChengLiang/milagro_bls_binding/" }

[lib]
name = "milagro_bls_binding"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.13.0", features = ["extension-module"] }
milagro_bls = {git = "https://github.com/sigp/milagro_bls", tag= "v1.4.1" }
